/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Begin Christina's CSS */
/* Setup */ 
$brown: #b66e2d;
$light-brown: #9d8f66;

$green: #586a3a;
$green-2: #7c885f;
$green-3: #84946a;
$green-4: #9ea783;
$green-5: #abb48f;
$green-6: #b4bca4;
$green-7: #bdbd99;

$white-yellow: #faf8dd;
$gray: #333;

$secondary-font: 'Playfair Display', serif;

$breakpoint-tablet: '768px';
$breakpoint-large: '900px';
$breakpoint-medium: '899px';
$breakpoint-small: '600px';

@mixin h1 {
	font-family: $secondary-font;
	color: $green;
	font-size: 40px;
	line-height: 1.2;
}
@mixin h2 {
	font-family: $secondary-font;
	color: $green;
	font-size: 32px;
	line-height: 1.2;
}
@mixin p {
	font-family: $secondary-font;
	color: $gray;
	font-size: 18px;
	line-height: 1.5;
}
@mixin shadow {
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
@mixin flex {
	display: flex;
}
@mixin flex-col {
	display: flex;
	flex-direction: column;
}
@mixin flex-row {
	display: flex;
	flex-direction: row;
}
@mixin flex-center {
	align-items: center;
	justify-content: center;
}
@mixin flex-wrap {
	flex-wrap: wrap;
}


.guatevelas {
	.container {
		max-width: 900px;
    	width: 100%;
		padding: 0 14px;
	}
	.wide-container {
		max-width: 1300px;
		width: 100%;
		padding: 0 14px;
	}

	nav {
		flex-wrap: nowrap;
		position: sticky;
		@include shadow;
		@include flex-row;
		@include flex-center;

		div.container {
			align-items: center;
			justify-content: space-between;
			@include flex-row;
			@media (max-width: 920px) {
				margin-left: 10px;
			}

			a.logo-container {
				@include flex-row;
				@include flex-center;
				img {
					margin: 12px 0;
				}
				img.logo {
					height: 60px;
					width: auto;
				}
				img.brandmark {
					height: 40px;
					width: auto;
					margin-left: 10px;
					margin-top: 20px;
				}
				h1 {
					margin-left: 12px;
					font-size: 30px;
					color: #333;
				}
			}

			div.menu {
				font-family: $secondary-font;
				@include flex-row;
				@include flex-center;
				a.menu-item {
					padding: 24px;
					color: $green;
					text-decoration: none;

					&:nth-child(2) {
						margin-right: 60px;
					}

					&:hover {
						background-color: $green-6;
					}
				}
				div.language-selector {
					@include flex;
					button.language {
						font-family: $secondary-font;
						font-size: 14px;
						display: flex;
						flex-direction: column;
						align-items: center;
						justify-content: center;
						margin: 8px;
						background-color: transparent;
						border: transparent;
						color: $green;

						img {
							margin-bottom: 8px;
						}
					}
				}
			}
		}
	}
}

main {
	max-width: 100vw;
	overflow-x: hidden;
}

.breadcrumbs {
	@include flex-row;
	@include flex-center;
	margin-top: 24px;
	div.container {
		@include flex-row;
		a, span {
			margin-right: 6px;
			color: $light-brown;
		}
		a {
			color: $green-2;
			&:hover, &:active {
				color: $green-4;
			}
		}
		span {
			font-size: 12px;
		}
	}
}

.product-page {
	section.product-info {
		@media (min-width: $breakpoint-small) {
			margin-top: 34px;
		}
		@include flex-col;
		@include flex-center;
		.container {
			.product-info__main {
				@include flex-row;
				align-items: flex-start;
				justify-content: space-between;
				@media(max-width: $breakpoint-medium) {
					flex-wrap: wrap;
				}
				@media(min-width: $breakpoint-large) {
					flex-wrap: nowrap;
				}

				div.product-image__container {
					@media(max-width: $breakpoint-medium) {
						width: 100%;
					}
					@media(min-width: $breakpoint-large) {
						width: 50%;
					}
					
					div.prod-swipers {
						display: flex;
						flex-direction: row;
						align-items: flex-start;
						justify-content: flex-start;
						padding: 0 14px;
						@media (max-width: 600px) {
							flex-wrap: wrap;
						}
						@media (min-width: 601px) {
							flex-wrap: nowrap;
							height: 550px;
						}

						.thumbnail-image-swiper {
							height: 100%;
							margin: 0;
							box-sizing: border-box;
							padding: 10px 0;
							margin-right: 8px;
							@media (max-width: 600px) {
								width: 100%;
							}
							@media (min-width: 601px) {
								width: 100px
							}
			
							.swiper-slide {
								width: 100%;
								height: 40%;
								opacity: 0.4;
							}
							.swiper-slide-thumb-active {
								opacity: 1;
							}
						}
						.swiper-container {
							display: flex;
							flex-direction: row;
							align-items: center;
							justify-content: center;
			
							.swiper-slide {
								display: flex;
								flex-direction: row;
								align-items: center;
								justify-content: center;
								background-size: cover;
								background-position: center;
			
								img {
									display: block;
									width: 100%;
									height: 100%;
									object-fit: cover;
								}
							}
						}
						.main-image-swiper {
							height: 100%;
							width: 100%;
						}
					}
					div.social-share {
						@include flex-row;
						@include flex-center;
						margin-top: 20px;
						width: 100%;

						p {
							font-family: $secondary-font;
							color: $green-2;
							margin-right: 18px;
							font-size: 16px;
							text-align: center;
							line-height: 1.2;
							@media (max-width: $breakpoint-small) {
								margin-right: 0;
								margin-left: 2px;
								font-size: 12px;
							}
						}
					
						a {
							@include flex-row;
							@include flex-center;
							height: 30px;
							width: 30px;
							padding: 4px;
							text-align: center;
							background-color: $green-4;
							color: $white-yellow;
							font-size: 20px;
							text-decoration: none;
							border-radius: 50%;
							margin: 0 4px;
							flex-shrink: 0;

							&:hover, 
							&:active {
								background-color: $green-5;
							}
						}
					}

				}
				div.product-summary__container {
					@include flex-col;
					@media(max-width: $breakpoint-medium) {
						width: 100%;
						margin-top: 60px;
						margin-bottom: 0;
					}
					@media(min-width: $breakpoint-large) {
						width: 48%;
						margin-left: 24px;
						margin-bottom: 140px;
					}
					align-items: flex-start;
					justify-content: space-between;
					padding: 0 14px;

					h1 {
						width: 100%;
						@include h1;
					}
					h2 {
						@include h2;
					}
					div.price-box {
						@include flex-row;
						margin-top: 24px;
						color: $brown;
						h2 {
							font-size: 30px;
							color: $brown;
						}
						.cents {
							@include flex-row;
							align-items: flex-start;
							justify-content: flex-start;
							margin-top: 4px;
							span {
								font-family: $secondary-font;
								font-size: 14px;
							}
							#currency {
								margin-left: 8px;
							}
						}
					}
					div.sizes {
						margin-top: 48px;

						select {
							margin-top: 20px;
							padding: 12px 24px;
						}
					}
					a.buy-btn {
						margin-top: 60px;
						padding: 12px 32px;
						border-radius: 4px;
						background-color: $green;
						color: $white-yellow;
						text-decoration: none;
						font-size: 24px;
						font-family: $secondary-font;

						&:hover,
						&:active {
							background-color: $green-2;
						}
					}
				}
			}
		}
	}
	section.more-info {
		@include flex-col;
		@include flex-center;
		padding: 0 14px;
		div.container {
			h2 {
				@include h2;
			}
			p, ul {
				@include p;
			}
		}
	}
	@media (max-width: $breakpoint-medium) {
		section.more-info {
			margin: 64px 0;
		}
	}
	@media (min-width: $breakpoint-large) {
		section.more-info {
			margin: 120px 0;
		}
	}
	section.you-may-like {
		@include flex-col;
		@include flex-center;
		margin-bottom: 140px;
		div.wide-container {
			@include flex-col;
			@include flex-center;
			h2 {
				@include h2;
			}
			div.more-suggestions {
				@include flex-row;
				@include flex-center;
				@include flex-wrap;
				a.suggestion {
					@include flex-col; 
					@include flex-center;
					margin: 12px;
					border: 2px solid white;
					box-sizing: border-box;
					border-radius: 12px;
					padding: 12px;
					&:hover {
						@include shadow;
					}
					h3 {
						@include p;
						text-decoration: none;
					}
				}
			}
		}
	}
}